.counters {
  &__widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  &__item {
    text-align: center;
  }
  &__count {
    font-size: 2rem;
  }
}
